body {
  background-color: black;
}

.canvas {
  position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	pointer-events: none;
}

.editor {
  background-color: transparent;
	width: 100%;
}

.editorDiv {
  background-color: transparent;
	width: 100%;
}

.editorArea {
  font-family: Inconsolata,Consolas,monospace;
  background-color: transparent;
  border: none;
	width: 100%;
  height: 100%;
  color: white;
  resize: none;
  overflow: hidden;
  box-shadow: none;
  outline: none;
}
